* {
  /* margin-top: 10%; */
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  color: rgb(236, 236, 115);
}

body {
  padding-top: 5%;
  background-image: url(/images/image.jpg);
  background-repeat: no-repeat;
}

.container {
  color: ivory;
  background-image: url(/images/akan.png);
  background-color: rgba(0, 0, 0, 0.452);
  top: 50%;
  width: 70%;
  height: 400px;
  left: 0%;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.tada {
  font-size: 48px;
  text-align: center;
}


.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 12px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-image: url(https://cdn.britannica.com/30/135330-050-6650554D/Memorial-head-Akan-culture-Ghana-New-York.jpg);
  background-position: center;
  background-size: cover;
  background-color:#333;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}